.card{
    border: 1px solid rgba(197, 197, 218, 0.405);
    border-radius: 10px;
    max-width: 450px;
    box-shadow: 5px 5px 5px rgba(221, 40, 40, 0.416);
    margin: 10px;

}
.card .head>li{
    margin: 20px;
    display: inline-block;
    color: rgb(221, 40, 40); 
}

.card .head .button{
    background-color: rgb(221, 40, 40);
    border: 1px solid rgb(221, 40, 40);
    color: #fff;
    border-radius: 30px;
    margin-left: 70px;
    padding: 10px;
    
}

.card .image{
    width: 100%;
    padding: 20px;
    height: 100%;
}
.card .footer-left{
    float: inline-start;
    margin: 5px;
    padding: 20px;
}

.card .footer-right{
    float: inline-end;
    margin: 5px;
    padding: 20px;
}

.card .item{
    list-style: none;
}