.body {
    background-image: url('https://i.gazeteoksijen.com/storage/files/images/2023/11/05/elektrikli-arac-pazarinda-indirim-savaslari-bir-otomotiv-devi-daha-fiyatlari-asagi-cekti-dumw.jpg');
    background-repeat: no-repeat;
    background-size:inherit;
    height: 100%;
    overflow: auto;
}