.sube-listesi {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .sube {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .sube h3 {
    margin-top: 0;
  }
  
  .sube p {
    margin: 5px 0;
  }
  
  .card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 10px;
  }
  
  .card-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 10px;
  }
  