.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-back {
  backface-visibility: hidden;
  background-color: white;

}

.card-front {
  backface-visibility: hidden;
  background-color: white;
}


.card-front-img {
  transition: transform 0.7s, 
}

.card-front-img:hover {
  transform: scale(1.1);
}
